---
#############################################
# INSTALL JAVA PLAYBOOK
# Ensures Java is installed on target hosts
#############################################

- name: Install Java on target hosts
  hosts: app_servers
  become: yes
  
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install Java 17
      apt:
        name: openjdk-17-jdk
        state: present

    - name: Verify Java installation
      command: java -version
      register: java_version
      changed_when: false

    - name: Display Java version
      debug:
        msg: "{{ java_version.stderr_lines }}"
