---
#############################################
# TEST CONNECTIVITY PLAYBOOK
# Use this to verify Ansible can reach all hosts
#############################################

- name: Test connectivity to all hosts
  hosts: all
  gather_facts: yes
  become: no
  
  tasks:
    - name: Ping all hosts
      ping:
      register: ping_result

    - name: Display hostname
      debug:
        msg: "Successfully connected to {{ inventory_hostname }} ({{ ansible_host }})"

    - name: Get system info
      debug:
        msg: |
          Hostname: {{ ansible_hostname }}
          OS: {{ ansible_distribution }} {{ ansible_distribution_version }}
          IP: {{ ansible_default_ipv4.address | default('N/A') }}
